@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('/src/assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PlayfairDisplay-SemiBold';
  src: url('/src/assets/fonts/PlayfairDisplay-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url('/src/assets/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PlayfairDisplay-Black';
  src: url('/src/assets/fonts/PlayfairDisplay-Black.ttf') format('truetype');
}