img {
  max-width: 100%;
}
* {
  box-sizing: border-box;
}
::selection {
  /* effet souris  */
  background: $primary-color; /* REMPLACER PAR LA COULEUR DÉSIRÉE*/
  color: $neutral-white;
}

a {
  color: $neutral-white;
  text-decoration: none;
  &:focus {
    outline: 0;
  }
}

button:focus {
  outline: 0;
}
